*.jpg
cv-en/cv-en.aux
cv-en/cv-en.log
cv-en/cv-en.out
cv-en/cv-en.pdf
cv-en/texput.log
coverletter-template/coverletter.aux
coverletter-template/coverletter.log
coverletter-template/coverletter.out
coverletter-template/coverletter.pdf
cv-fr/cv.pdf
